@model CapaEntidad.Documentos

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="~/Content/Loginstyles.css"/>

<h2>Eliminar documento</h2>

<h3>¿Estas seguro de eliminarlo?</h3>
<div style="background-color: white;">
    <center>

        <h4>Documentos</h4>

    </center>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_DeptOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_DeptOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_DeptDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_DeptDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secuencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secuencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Details")
        </div>
    }
</div>
