@model CapaEntidad.Usuarios

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="~/Content/Loginstyles.css" />

<h2>Eliminar</h2>


<div class="delete" style="background-color: white;">
    <h3>¿Estas seguro que deseas eliminarlo?</h3>
    <center>
        <h2>Usuario</h2>
    </center>
    <hr />
    <dl class="dl-horizontal" style="font-size: 20px">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>

    }
</div>
