@model IEnumerable<CapaEntidad.Usuarios>

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="~/Content/Loginstyles.css" />

<h2>Usuarios</h2>

@section styles{
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<p>
    @Html.ActionLink("Crear nuevo usuario", "Create")
</p>
<table class="table" id="usertable">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody> 

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                 
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>

    }

    </tbody>
</table>

@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $('#usertable').DataTable();
    </script>
}
